.header{
    text-align:left;
    font-size: 25px;
   size-adjust:inherit;
   background-color: rgb(6, 101, 226);
   margin-inline: 1in;
   height: 80px;
   color: antiquewhite;
}
.logo{
    display:inline-block;
    vertical-align: middle;
    size-adjust: 10%;
    height:0.8in;
    width: 1in;
    padding-top: 3px;
}
.choose-time{
    display: flex;
    padding-top: 25px;
    font-style: italic;
    width: 800px;
    background-color: aquamarine;
    flex-direction: row;
}
.salarycontainer{
    padding-left: 15px;
    padding-top: 15px;
    box-sizing:border-box;
}
.choose-annual{
    font-size: 30px;
    font-style: italic;
}
.salary-input{
    
    height: 1.2in;
    margin-left: 1in;
    margin-right: 1in;
    /* padding-top: 1em; */
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    /* padding-left: 0.5em; */
    display: inline-flex;
    flex-direction: row;
}

.help-center{
 margin-right: 1in;
 height: auto;
 box-sizing: border-box;
}
.result-gross{
    font-size: 1.4em;
    text-align: right;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    display: inline-flex;
}
.result-container{
    margin-left: 1in;
    width: 1200px;
}
.row{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -2px;
}
.monthly-result{
    padding-left: 2in;
   
}
.result-tax{
    font-size: 1.4em;
    text-align: right;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
}
.get-help{
    width: 342px; ;
}
.result-net{
    font-size: 1.4em;
    text-align: right;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
}